body{
    background:#FAEBD7;
    font-family:Arial, Helvetica, sans-serif
}

.assignment{
    display:flex;
    padding:10px;
    margin: 10px;
    background: #00FFFF;
    border-radius:20px; 
}

.assignment img{
    width:200px;
    margin: 10px;
    border: 2px solid #9932CC;
}
.assignment img:hover  {
    border: 2px solid #00008B;
} 
h1{
    color: #9932CC;
    text-align: center;
}
h1:hover{
    color: #00008B;
    text-align: center;
}
p{
    color: #9932CC;
}


a
{
    text-decoration: none;
    color: #9932CC
}
a:hover
{
    color:#00008B
}